html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: #11b5f2;
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
}

.app {
    background-color: #f2f8fa;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
